.square-container{
    display: flex;
    flex-wrap: wrap;
    height:200px;
    width:600px;
    margin: 0 auto;
}

 /* Define styles for player one */
 .player-one {
    color: blue;
  }
  
  /* Define styles for player two */
  .player-two {
    color: red;
  }