/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(https://cdn-0001.qstv.on.epicgames.com/ZmupvZeOxaqVUOOvDQ/image/landscape_comp.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.93;
}